doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
<<<<<<< HEAD
        <link rel="stylesheet" href="style.css">
        title Document
    body 
=======
        link(rel="stylesheet" href="/public/styles/style.css")
        title Dasboard

    
>>>>>>> a115dce1ca2543f0be5032e3bff3d7cf1041be6e
