footer.footer(class="d-flex justify-content-center")
  .waves
    .wave#wave1
    .wave#wave2
    .wave#wave3
    .wave#wave4
  ul
      a(href="https://www.youtube.com/watch?v=xvFZjo5PgG0", target="_blank")
        img(src="https://img.icons8.com/?size=200&id=rhqG5aD2_6pw&format=png" width="80" height="80" )
