footer(class="d-flex justify-content-center")
  ul
    li
      a(href="#", style="color: white;") Über uns
    li
      a(href="https://www.youtube.com/watch?v=xvFZjo5PgG0", target="_blank")
        img(src="https://img.icons8.com/?size=200&id=rhqG5aD2_6pw&format=png" width="80" height="80")
