<<<<<<< HEAD
ul 
    li Kontakt
    li Nutzungsbedingungen
=======
footer
  ul
    li
      a(href="#", style="color: white;") Kontakt
    li
      a(href="#", style="color: white;") Nutzungsbedingungen


>>>>>>> a115dce1ca2543f0be5032e3bff3d7cf1041be6e
