.dashboard-container
  h3 Top 3 Schrauben:
    div(id="doughnutStyle", style="width: 500px;")
      canvas#doughnut
  script(src="doughnut.js")

.dashboard-container
  h3 Top 3 Hersteller:
    div(id="barchartStyle", style="width: 500px;")
      canvas#barchart
  script(src="barchart.js")

.dashboard-container
  h3 Bester Tag:
    div(id="barchart1Style", style="width: 500px;")
      canvas#barchart1 
  script(src="barchart1.js")
