div.dashboard-container
  h3 Top 3 Hersteller:
    div(id="barchartStyle", style="width: 600px;")
      canvas#barchart
  script(src="barchart.js")


  h3 Bester Tag:
    div(id="barchart1Style", style="width: 600px;")
      canvas#barchart1 
  script(src="barchart1.js")


  h3 Top 3 Schrauben:
    div(id="barchart2Style", style="width: 600px;")
      canvas#barchart2
  script(src="barchart2.js")

  h3 % Anteil:
    div(id="doughnut%Style", style="width: 600px;")
      canvas#doughnut
  script(src="doughnut%.js")