h3 Top 3 Schrauben:
    div(style="width: 550px;")
      canvas#doughnut
script(src="doughnut.js")

h3 Top 3 Hersteller:
    div(style="width: 550px;")
      canvas#barchart
script(src="barchart.js")

h3 Bester Tag:
    div(style="width: 550px;")
      canvas#barchart1 
script(src="barchart1.js")